.flex-container {

    display: flex;
    margin: auto;
    align-items: stretch;
    width: 1000px;
    flex-direction: row;
  
  }

.images {

    top: 13em;
    height: 28.5em;
    width: 42em;
    position: absolute;
    overflow-x: hidden;
    scrollbar-width: none;


}

.images :hover {

    transition-timing-function : ease-in-out;
    transition: filter 256ms, transform 256ms;
    filter: brightness(125%);
    transform: scale(1.025);
}

.images :not(:hover)  {

    transition-timing-function : linear;
    transition: filter 64ms, transform 64ms;
    filter: brightness(100%);
    transform: scale(1);

}

img {

    width: 12em;
    height: 12em;

}

.title {

    margin: 10px;
    margin-left: 2px;
    position: fixed;

}

.welcome-art {

    flex-flow: column nowrap; 
    width: 1000px;
    left: 0;
    height: 22em;
    font-size: 18px;
    margin: 2px;
    text-align: left;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.welcome-art h1 {

    letter-spacing: 2px;
    font-weight: bolder;
    text-decoration-thickness: 2px;

}