.flex-container {

    display: flex;
    margin: auto;
    align-items: stretch;
    width: 1000px;
    flex-direction: row;
  
  }

.images {

    margin-top: 6.5em;
    height: 30.5em;
    width: 50em;
    position: absolute;
    overflow-x: hidden;
    scrollbar-width: thin;

}

.images :hover {

    transition-timing-function : ease-in-out;
    transition: filter 256ms, transform 256ms;
    filter: brightness(125%);
    transform: scale(1.025);
}

.images :not(:hover)  {

    transition-timing-function : linear;
    transition: filter 64ms, transform 64ms;
    filter: brightness(100%);
    transform: scale(1);

}

img {

    padding: 0.2em;
    width: 14.5em;
    height: 14.5em;

}

.title {

    margin: 10px;
    margin-left: 3px;
    position: fixed;

}

.welcome-art {

    width: 1000px;
    font-size: 18px;
    margin: 2px;
    text-align: left;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 3em;

}

.welcome-art h1 {

    letter-spacing: 2px;
    font-weight: bolder;
    text-decoration-thickness: 2px;

}

.footer-sticky {

    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: stretch;
    width: 1000px

}

hr {

    width: 44.5em;

}

gs {

    letter-spacing: 6px;

}