html {
    background-image: none;
    background-color: black;
}

body {
    font-family: "dotgothic16-regular" !important;
    color: white;
    background: black;
    margin: auto;
    width: 1000px;
    height: 100vh;
}

div.container.mt-5 {
    padding-top: 3rem !important;
    margin: 0 0 2em !important;
}

h1 {
    color: orange;
    font-weight: bold;
    letter-spacing: 4px;
}

.text-center {
    text-align: left !important;
    margin-bottom: 1em;
}

.form-group.mt-3 {
    margin-top: 2.4em !important;
}

.form-group.mt-3 label:first-child {
    margin-bottom: 0.6em !important;
}

#options {
    border: 1px dashed orange;
    padding: 0.8em;
}

#convert-button {
    color: orange;
    padding: 0 !important;
    margin: 1.4em 0 0 !important;
    font-weight: bold;
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    transition: none !important;
}

#convert-button:hover {
    color: white;
}

.progress.mt-3 {
    border-radius: 0 !important;
}

/* Dropzone stuff... */

.dropzone {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 10px;
    margin: 0 !important;
    background: black;
    border: 1px dashed orange;
}

.dropzone .dz-preview .dz-details {
    position: relative !important;
    font-size: 1rem;
    text-align: left !important;
}

.dz-image {
    display: none !important;
}

.dz-preview {
    margin: 5px 0;
}

.dz-size {
    color: grey !important;
    font-size: 1rem;
}

.dz-size > span:nth-child(1),
.dz-filename > span:nth-child(1) {
    background: none !important;
}

.dz-filename > span:nth-child(1) {
    color: white;
}

.dz-message {
    color: orange;
}

.dz-details {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: flex-end;
    min-width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    color: black;
}

.dz-preview.dz-file-preview {
    padding: 0 !important;
    margin: 0 !important;
    min-height: auto;
}

.dz-progress,
.dz-error-message,
.dz-success-mark,
.dz-error-mark {
    display: none !important;
}

/* Fucked way of not showing images... */
.dz-preview.dz-processing.dz-error.dz-complete.dz-image-preview {
    display: none !important;
}