#logContainer {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

#elapsedTimeContainer {
    margin-top: 10px;
    font-weight: bold;
}

#fileListContainer li {
    cursor: pointer;
    transition: color 0.3s ease;
    list-style: none;
}

#fileListContainer li:hover {
    color: red;
}

#conversionList {
    margin-top: 1em;
}

ul li {
    margin-left: -2.4em;
}

#uploadButton {
    margin-top: 1em;
}

#progressContainer {
    margin-top: 1em;
}