body {
    color: white;
    background: black;
}

h1 {
    color: orange;
}

select {
    color: black;
    border-radius: 0 !important;
}

#convert-button {
    color: orange;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 2em;
    font-weight: bold;
    background: none !important;
    border: 0 !important;
    border-radius: 0 !important;
}