/* FOOTY BUSSINESS */

.footer {
  font-family: "dotgothic16-regular";
  bottom: 2em;
  right: 8em;
  margin-bottom: 2em;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.silly-footer a {
  border: red solid 1px;
  background-color: black;
  padding: 2px;
  font-size: small;
  font-weight: bold;
  color: red;
}

.silly-footer a:link {
  text-decoration: none;
  color: orange;
}

.silly-footer a:hover {
  text-decoration: none;
  color: white;
}

.inspired {
  font-size: small;
  color: orange;
}

.inspired a {
  border: red solid 1px;
  background-color: black;
  padding: 1px;
  font-weight: bold;
  text-decoration: none;
  color: crimson;
}

.inspired a:hover {
  font-weight: bold;
  text-decoration: none;
  color: green;
}
