/* FOOTY BUSSINESS */

.footer {
  position: relative;
  bottom: -25px;
  text-align: right;
}

.silly-footer a {
  border: red solid 1px;
  background-color: black;
  padding: 2px;
  font-size: small;
  font-weight: bold;
  color: red;
}

.silly-footer a:link {
  text-decoration: none;
  color: orange;
}

.silly-footer a:hover {
  transition: animation 64ms;
  animation: glitch-n 128ms;
  text-decoration: none;
  color: orange;
}

.silly-footer :not(a:hover) {

  transition: color 512ms;
  color: red;

}

.inspired {
  font-size: small;
  color: orange;
}

.inspired a {
  border: red solid 1px;
  background-color: black;
  padding: 1px;
  font-weight: bold;
  text-decoration: none;
  color: green;
}

.inspired a:hover {
  transition: color 64ms, animation 64ms;
  animation: glitch-n 64ms;
  font-weight: bold;
  text-decoration: none;
  color: orange;
}

.inspired :not(:hover) {
  transition: color 512ms;
  color: green;
}
