#heading {
    text-align: center;
    padding: 1em;
    width: 40%;
    margin: auto;
    margin-bottom: 2em;
    cursor: default;
}


#heading a {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

#heading a:hover {
    color: white;
}

#title {
    text-transform: uppercase;
    font-family: "planetk-regular";
    font-size: 3em;
    color: orange;
}

#title-comment{
    position: relative;
    top: 1em;
    padding: 0.6em;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 0.4em;
    border: 1px solid red;
}

#content img {
    margin: 1em;
    max-width: 160px;
    height: auto;
    border: 2px solid orange;
    transition: scale 128ms ease-out;
}

#content img:hover {
    scale: 108%;
}

.game {
    position: relative;
    display: inline-block;
}

.gameName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: red;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0 linear;
}

.game:hover .gameName {
    opacity: 1;
}

.doneEffect {
    filter: grayscale();
}