body {
    width: 80vw;
}

#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
    margin: auto;
    cursor: pointer;
    width: fit-content;
}


#heading a {
    text-transform: uppercase;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

#title {
    top: 1.2em;
    padding: 8px;
    padding-bottom: 4px;
    padding-right: 0.8em;
    padding-left: 0.8em;
    text-transform: uppercase;
    font-family: "planetk-regular";
    font-size: 3.5em;
    letter-spacing: 12px;
    color: orange;
    border: 2px solid red;
    border-radius: 16px;
}

#title a:hover {
    color: white;
}

hr {
    display: none; /* I dont like the way it looks */
    margin: auto;
    border-color: darkred;
    width: 60%;
}

#buttons {
    display: flex;
    justify-content: center;
}

#buttons button {
    width: 6.8em;
    padding: 0.8em;
    margin: 0.4em;
    color: white;
    background-color: black;
    border: 2px solid red;
    border-radius: 16px;
}
#buttons button:hover {
    color: orange;
}


#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: auto;
    margin-top: 1em;
    /* animation: fadeIn 2056ms; */
}

#content img {
    padding: 0.4em;
    margin: 1em;
    max-width: 160px;
    height: auto;
    border: 2px solid orange;
    border-radius: 16px;
    transition: scale 128ms ease-out;
}

#content img:hover {
    scale: 108%;
}

.game {
    position: relative;
    display: inline-block;
}

.ongoingEffect {
    border-color: greenyellow !important;
}

.completedEffect {
    border-color: white !important;
}

.pendingEffect {
    border-color: orange !important;
}