
body {
    width: 92vw;
}

#main {
    display: flex;
    flex-direction: column;
}

#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
    margin: auto;
    width: fit-content;
    cursor: default;
}


#logo {
    background: var(--background-color);
    height: 5.2em;
    width: 5.2em;
    padding: 8px;
    border: 2px solid orange;
    border-radius: 50%;
    cursor: default;
}

#logo img {
    height: 5em;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: scale 64ms ease-out;
}

#logo img:hover {
    scale: 108%;
}

hr {
    display: none;
    /* I dont like the way it looks */
    margin: auto;
    border-color: var(--primary-color-dark);
    width: 60%;
}

#buttons {
    display: flex;
    position: sticky;
    width: 45vw;
    max-width: fit-content;
    top: 1em;
    justify-content: center;
    margin: auto;
    font-size: 2em;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color-dark);
    border-radius: 16px;
    z-index: 2;
}

#buttons button {
    width: 7.2em;
    padding: 0.8em;
    margin: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 12px;
}

#buttons button:hover {
    color: orange;
    cursor: pointer;
}


#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    /* animation: fadeIn 2056ms; */
}

#content a {
    cursor: default;
}

#content img {
    background: var(--background-color);
    padding: 0.4em;
    margin: 1em;
    max-height: 100%; 
    max-width: 160px;
    width: 100%;
    height: auto;
    aspect-ratio: 6 / 9;
    border: 2px solid orange;
    border-radius: 16px;
    cursor: pointer;
    filter: saturate(90%);
    opacity: 0; /* Hide initially to fix empty border issue */
    transition: scale 128ms ease-out, filter 128ms ease-out, opacity 128ms ease-out;
}

#content img:hover {
    scale: 105%;
    filter: saturate(125%);
}

.game {
    position: relative;
}

.ongoingEffect {
    border-color: white !important;
}

.completedEffect {
    border-color: orange !important;
}

.pendingEffect {
    border-color: grey !important;
    filter: grayscale(100%) !important;
}

/* View shenanigans... */

.list-view .game {
    display: flex !important;
    width: 100%;
    margin-bottom: 1em;
    margin-left: 1em;
    align-items: center;
}

.list-view .game > a {
    flex-shrink: 0;
}

.list-view img {
    max-width: 100px !important;
    margin-right: 1em;
}

.list-view .game-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: -2.6em;
    margin-left: 1em;
}

.list-view .game-details h3 {
    margin: 0;
}

.list-view .game-details a {
    color: var(--primary-color-dark);
    text-decoration: none;
    cursor: pointer !important;
    width: fit-content;
}

.list-view .game-details a:hover {
    color: orange;
}