/* GRID? TF ARE THOSE??? */

.grid-container {
    display: grid;
    grid-template-rows: 700px 50px;
    grid-template-columns: 200px 800px;
    grid-gap: 0px;
  }
  .grid-container-right {
    top: 0;
    right: 0;
    margin-right: 0;
  }