/* N A V B A R   B U S S I N E S S */

.navbar {
  display: flexbox;
  padding: 1.8em;
  padding-left: 0%;
  padding-top: 0%;
  margin-top: 1em;
}
.navbar h2 {
  font-size: x-large;
  color: red;
  text-shadow: 0.5em 0 0 rgba(150, 0, 0, 0.75),
    -0.25em -0.05em 0 rgba(252, 248, 4, 0.75),
    0.25em 0.05em 0 rgba(44, 247, 213, 0.75);
  animation: glitch-h 128ms infinite;
  text-align: left;
  font-style: italic;
  font-family: "zenantique-regular";
  font-weight: bolder;
  letter-spacing: 1px;
  border: #ff0f0f solid 2px;
  background-color: black;
  padding: 4px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar li {
  list-style: square;
  list-style-image: url("/assets/videos/a_cigs.png");
  margin-left: 0.2em;
  margin-top: 5px;
  text-align: left;
}
.navbar li:hover {
  transition: color 256ms;
  color: whitesmoke;
  border: #ff0f0f solid 1px;
  text-decoration: line-through;
  animation: glitch-h 180ms infinite;
  /* add a random rotation effect when hovered inshallah */
}
.navbar p {
  font-weight: bold;
}
