/* N A V B A R   B U S S I N E S S */

.navbar {
  width: 12em;
  padding: 1.8em;
  padding-left: 0%;
  padding-top: 0%;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar li {
  list-style: square;
  list-style-image: url("/assets/videos/a_cigs.png");
  margin-left: 5px;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: uppercase;
}

.navbar li:hover {

  color: whitesmoke;
  animation: glitch-h 180ms infinite;

}

.navbar li:not(:hover) {
  
  transition: color 512ms;
  color: red;

}

.navbar ul {
  
  padding-left: 1.4em;

}

.navbar h2 {
  font-size: 18px;
  color: orange;
  text-shadow: 0.5em 0 0 rgba(150, 0, 0, 0.75),
    -0.25em -0.05em 0 rgba(252, 248, 4, 0.75),
    0.25em 0.05em 0 rgba(44, 247, 213, 0.75);
  animation: glitch-h 128ms infinite;
  text-align: left;
  font-style: italic;
  font-family: "dotgothic16-regular";
  font-weight: bolder;
  letter-spacing: 1px;
  border: #ff0f0f solid 2px;
  background-color: black;
  padding: 5px;
}

.navbar p {
  font-weight: bold;
}
