.review-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.album-info {
    display: flex;
    margin-top: 1.4em;
    justify-content: space-between;
    margin-bottom: 20px;
}

.album-cover {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.album-details {
    flex-grow: 1;
    padding: 1.2em;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 20px;
    align-content: center;
    font-size: larger;
}

.album-details p {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 1.2em;
    margin-left: 2.4em;
}

.detail-item {
    color: orange;
}

.review-text {
    margin-top: 2.4em;
}

section {
    margin-bottom: 2.4em;
}

h2 {
    color: orange;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 5px;
}

.standout-tracks details {
    cursor: pointer;
    width: fit-content;
}

.standout-tracks summary {
    width: fit-content;
    font-weight: bold;
    color: var(--primary-color-dark);
}

.standout-tracks ul {
    width: fit-content;
    margin-top: 0.8em;
    margin-left: -1.6em;
    list-style: none;
}

.standout-tracks ul li {
    width: fit-content;
    margin-bottom: 0.8em;
}

.standout-tracks ul li a {
    color: var(--primary-color) !important;
    text-decoration: none !important;
}

/* expander.js stuff */

.expanded-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: default;
}

.expanded-image img {
    max-width: 95%;
    max-height: 95%;
    width: auto;
    height: auto;
    object-fit: contain;
    animation: popupAnimation 128ms ease-out;
    /* border: 2px solid var(--primary-color); */
}

@keyframes popupAnimation {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

body.darkened::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 128ms ease-out;
}

body.darkened::before {
    opacity: 1;
}

/* iframe stuff... */

iframe {
    margin-top: 1.2em;
    border-bottom: 0;
}